
<div class="container pagecontainer">

  <hr>
  <hr>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

      <!-- PRICE ITEM -->
      <div class="panel price panel-red">
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>{{propertiesLength.categoriesLength}} <br/> Types</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"></li>
        </ul>
        <div class="panel-footer">
          <a routerLink="/categoryDisplay" class="btn btn-lg btn-block btn-danger">BROWSE!!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->

    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

      <!-- PRICE ITEM -->
      <div class="panel price panel-blue">
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>{{propertiesLength.albumsLength}} <br/> Albums</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"></li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-info" routerLink="/album">BROWSE!!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->


    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

      <!-- PRICE ITEM -->
      <div class="panel price panel-green">
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>{{propertiesLength.photosLength}} <br/> Photoes</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"></li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-success" routerLink="/photos">BROWSE!!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->


    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

      <!-- PRICE ITEM -->
      <div class="panel price panel-grey">
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>{{propertiesLength.photographersLength}}<br/>Clients</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"></li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" routerLink="/profiles">BROWSE!!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->

    </div>

  </div>
  <hr>
  <hr>

</div>
