.pagecontainer {
  padding: 50px 15px 200px;

}

.container .text-muted {
  margin: 20px 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 10% auto;
}

.form-ele{
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 6px 10px 7px 10px;
  border-radius: 0 3px 3px 0;
  cursor: not-allowed;
  min-height: 33px;
}

.form-ele:empty:before{
  content: 'No data to display';
  color: #cccccc;
}
