<div class="container pagecontainer">
  <div class="page-header">
    <h1>{{formTitle}}</h1>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="form-horizontal" novalidate autocomplete="off">

    <div class="form-group" [ngClass]="{'has-error': loginForm.get('email').invalid && loginForm.get('email').dirty}">
      <label for="email" class="col-sm-2 control-label">Email <sup>*</sup></label>
      <div class="input-group col-sm-10">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" [formControl]="email" id="email" placeholder="Email">
      </div>
      <div class="text-danger" *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" style="padding:4px 0 0" *ngIf="loginForm.get('email').invalid">
            Please enter a valid Email
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': loginForm.get('password').invalid && loginForm.get('password').dirty}">
      <label for="password" class="col-sm-2 control-label">Password <sup>*</sup></label>
      <div class="input-group col-sm-10">
        <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-asterisk"></i></div>
        <input type="password" class="form-control" [formControl]="password" id="password" placeholder="Pasword">
      </div>
      <div class="text-danger"  *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" style="padding:4px 0 0" *ngIf="loginForm.get('password').errors.required">
              Please enter password
        </span>
        <span class="col-sm-10" style="padding:4px 0 0" *ngIf="loginForm.get('password').errors.minlength">
            Password must contain 8 characters
        </span>
      </div>


    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-5">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
      <div class="col-sm-5" style="text-align:right">
        <sup>*</sup> required
      </div>
    </div>
  </form>

</div>
