<div class="container pagecontainer">
  <div class="page-header">
    <h1>{{formTitle}}</h1>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)" class="form-horizontal" novalidate autocomplete="off">


    <div class="form-group" [ngClass]="{'has-error': registerForm.get('name').invalid && registerForm.get('name').dirty}">
      <label for="name" class="col-sm-2 control-label">Name <sup>*</sup></label>
      <div class="input-group col-sm-10">
        <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
        <input type="text" class="form-control" [formControl]="name" id="name" placeholder="Name">
      </div>
      <div class="text-danger" *ngIf="registerForm.get('name').dirty && registerForm.get('name').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" style="padding:4px 0 0" *ngIf="registerForm.get('name').errors.required">
                    Please enter your Name
        </span>
      </div>
    </div>



    <div class="form-group" [ngClass]="{'has-error': registerForm.get('email').invalid && registerForm.get('email').dirty}">
      <label for="email" class="col-sm-2 control-label">Email <sup>*</sup></label>
      <div class="input-group col-sm-10">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" [formControl]="email" id="email" placeholder="Email">
      </div>
      <div class="text-danger" *ngIf="registerForm.get('email').dirty && registerForm.get('email').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" style="padding:4px 0 0" *ngIf="registerForm.get('email').invalid">
            Please enter a valid Email
        </span>
      </div>
    </div>



    <div formGroupName="passwordGroup" [ngClass]="{'has-error': registerForm.get('passwordGroup').errors }">

      <div class="form-group" [ngClass]="{'has-error': registerForm.get('passwordGroup.password').invalid && registerForm.get('passwordGroup.password').dirty}">
        <label for="password" class="col-sm-2 control-label">Password <sup>*</sup></label>
        <div class="input-group col-sm-10">
          <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-asterisk"></i></div>
          <input type="password" class="form-control" [formControl]="password" id="password" placeholder="Pasword">
        </div>
        <div class="text-danger"  *ngIf="registerForm.get('passwordGroup.password').dirty && registerForm.get('passwordGroup.password').errors">
          <span class="col-sm-2"></span>
          <span class="col-sm-10" style="padding:4px 0 0" *ngIf="registerForm.get('passwordGroup.password').errors.required">
                Please enter password
          </span>
          <span class="col-sm-10" style="padding:4px 0 0" *ngIf="registerForm.get('passwordGroup.password').errors.minlength">
              Password must contain 8 characters
          </span>
        </div>

      </div>
      <div class="form-group" [ngClass]="{'has-error': registerForm.get('passwordGroup.retypePassword').invalid && registerForm.get('passwordGroup.retypePassword').dirty}">
        <label for="retypePassword" class="col-sm-2 control-label">Retype Password <sup>*</sup></label>
        <div class="input-group col-sm-10">
          <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-asterisk"></i></div>
          <input type="password" class="form-control" [formControl]="retypePassword" id="retypePassword" placeholder="Retype Password">
        </div>
        <div class="text-danger" *ngIf="(registerForm.get('passwordGroup.retypePassword').touched || registerForm.get('passwordGroup.retypePassword').dirty) && (registerForm.get('passwordGroup.retypePassword').errors || registerForm.get('passwordGroup').errors)">
          <span class="col-sm-2"></span>
          <span class="col-sm-10" style="padding:4px 0 0" *ngIf="registerForm.get('passwordGroup.retypePassword').errors?.required">
                Please confirm your password
          </span>
          <span class="col-sm-10" style="padding:4px 0 0" *ngIf="registerForm.get('passwordGroup').errors?.mismatchedPassword">
                Password do not match
          </span>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-5">
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
      <div class="col-sm-5" style="text-align:right">
        <sup>*</sup> required
      </div>
    </div>
  </form>

</div>
