<br>
<br>
<br>

<div class="container pagecontainer">


  <div class="row">

    <div *ngFor="let albumInfo of albumsInfo" class=" col-md-4  separate">
      <div class="card card-inverse card-info">
        <div class="card-block">
          <h4 class="card-title mt-3" (click)="onClickAlbum(albumInfo.album)">{{albumInfo.album.name}}</h4>
          <div class="card-text">
            {{albumInfo.album.description}}
          </div>
          <div class="meta card-text">
            Created By: <a>{{albumInfo.owner.name}}</a>
          </div>
          <div class="card-footer">
            <small>Created Date: {{albumInfo.album.uploadDate}}</small>
            <button routerLink="/album/{{albumInfo.album._id}}" class="btn btn-info float-right btn-sm">View</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
