<!--main-->
<div class="container pagecontainer" id="main">
  <div class="row">

    <div *ngFor="let photo of photos; let i = index;" class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="{{baseUrl + photo.watermarkedPath}}" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">{{photo.displayName}}</p>
          <p>{{photo.views}} views, {{photo.likes}} likes, {{photo.upVote}} Upvote</p>
          <div>
            <button (click)="onClickDownloadPhoto(photo)" data-toggle="tooltip" title="Download" class="btn-success" height="28px" width="28px"><a role="button"><i class="fas fa-download"></i></a></button>
            <button (click)="onClickRemovePhoto(photo)" data-toggle="tooltip" title="Remove" class="btn-success" height="28px" width="28px"><a role="button"><i class="fas fas fa-trash-alt"></i></a></button>
            <button (click)="onClickPhotoClick(photo)" data-toggle="tooltip" title="Edit" class="btn-success" height="28px" width="28px"><a href="#editModal" role="button" data-toggle="modal"><i class="fas fa-edit"></i></a></button>
          </div>
        </div>
      </div>

    </div><!--/col-->

    <div class="clearfix"></div>
  </div><!--/main row-->
</div><!--/main-->


<div id="editModal" class="modal fade modal-lg" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label>Photo Name:</label>
          <input type="text" class="form-control" [(ngModel)]="selectedPhoto.displayName">
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button (click)="onClickPhotoUpdate(selectedPhoto)" class="btn btn-success" data-dismiss="modal" aria-hidden="true">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

