<br>
<br>
<br>

<div class="container">


  <div *ngIf="isDataLoaded" class="row">

    <div *ngFor="let album of albums" class=" col-md-4  separate">
      <div class="card card-inverse card-info">
        <div class="card-block">
          <h4 class="card-title mt-3" (click)="onClickAlbum(album)">{{album.name}}</h4>
          <div class="meta card-text">
            <!--<a>{{album.owner.name}}</a>-->
          </div>
          <div class="card-text">
            {{album.description}}
          </div>
          <div class="card-footer">
            <small>Created Date: {{album.uploadDate}}</small>
            <button routerLink="/album/{{album._id}}" class="btn btn-info float-right btn-sm">View</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
