<br>
<br>
<br>
<br>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">

    <div *ngFor="let category of categories" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

      <!-- PRICE ITEM -->
      <div class="panel price panel-grey">
        <div class="panel-footer">
          <a routerLink="/categoryAlbumDisplay/{{category._id}}" class="btn btn-lg btn-block btn-success">{{category.title}}</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->


    </div>

  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
