<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">

  <!--start of file upload option-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row card">
        <div class="col-sm-12">
          <h4>Upload Section</h4>
          <div id="fileSelector">
            <input type="file" name="fileUplaod" id="fileUpload"
                   multiple ng2FileSelect [uploader]="uploader">
          </div>
          <div>
            <div class="row uploadList" *ngFor="let item of uploader.queue">
              <div class="col-sm-4">{{item.file.name}}</div>
              <div class="col-sm-4">
                <div class="progress">
                  <div class="progress-bar bg-success"
                       [ngStyle]="{'width':item.progress+'%'}"></div>
                </div>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="uploader?.queue?.length > 0">
            <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
  <!--end of file upload option-->

</div>

<button class="btn btn-primary btn-block" (click)="completeFileUploadOperation()">Done</button>


<br>
<br>
<br>
<br>
<br>
<br>
