<div class="container pagecontainer">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Photographer Name</th>
      <th>Premium</th>
      <th>Photographer Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let photographer of photographers" (click)="onClickPhotographer(photographer)">
      <td>{{photographer.name}}</td>
      <td>{{photographer.isPremium}}</td>
      <td>{{photographer.netBalance}}</td>
    </tr>
    </tbody>
  </table>
</div>
