<div class="navbar navbar-fixed-bottom header" id="subnav">
  <div id="footer">
      <footer>
        <ul class="social-ul">
          <li class="social" title="moi"><a href="moi.html">&#9993;</a></li>
          <li class="social" title="Twitter"><a href="https://twitter.com/julienw5">&#62217;</a></li>
          <li class="social" title="Google+"><a href="https://plus.google.com/u/0/+JulienWatelet/about">&#62223;</a></li>
          <li class="social" title="Linkedin"><a href="https://www.linkedin.com/pub/julien-watelet/44/3a6/830">&#62232;</a></li>
        </ul>
      </footer>

  </div>
</div>
