<br>
<br>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="page-header text-center">Join in!!</h1>
      <div class="light-well">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h4 class="panel-title"> Create account</h4>
              <br />
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input autofocus="autofocus" placeholder="first name" class="form-control" type="email" name="user[first_name]" id="user_first_name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input placeholder="last name" class="form-control" type="email" name="user[last_name]" id="user_last_name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input placeholder="email address" class="form-control" type="email" name="user[email]" id="user_email">
              </div>
              <div class="form-group">
                <input autocomplete="off" placeholder="password" class="form-control" type="password" name="user[password]" id="user_password">
              </div>
              <div class="form-group">
                <input autocomplete="off" placeholder="re-type your password" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
              </div>
              <p>
                  <span class="small">
                        by clicking the submit/register button your hereby agree to <a href="#">Terms and condition</a> of this site
                      </span>
              </p>
              <div class="form-group">
                <button name="button" type="submit" class="btn btn-success btn-lg btn-block" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Signing in...">Sign in</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
