<br>
<br>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h1 class="page-header text-center">Welcome Back!!</h1>
        <div class="form-group">
          <input autofocus="autofocus" placeholder="Email Address" class="form-control" type="email" name="user[email]" id="user_email">
        </div>
        <div class="form-group">
          <input autocomplete="off" placeholder="Password" class="form-control" type="password" name="user[password]" id="user_password">
        </div>
        <div class="form-group">
          <button name="button" type="submit" class="btn btn-success btn-lg btn-block" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Signing in...">Sign in</button>
        </div>
      </div>
      <div class="text-center">
        <p><a href="#">Forgot your password ?</a></p>
      </div>
      <div class="text-center">
        <p><a href="#">Sign up for account</a></p>
      </div>
    </div>
  </div>
</div>
</body>
