<!--main-->
<div class="container pagecontainer" id="main">
  <div class="row">

    <div *ngFor="let photo of photos; let i = index;" class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="{{baseUrl + photo.originalPath}}" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">{{photo.displayName}}</p>
          <p>{{photo.views}} views, {{photo.likes}} likes, {{photo.upVote}} Upvote</p>
          <div>
            <button (click)="onClickDownloadPhoto(photo)" data-toggle="tooltip" title="Download" class="btn-success" height="28px" width="28px"><a role="button"><i class="fas fa-download"></i></a></button>
          </div>
        </div>
      </div>

    </div><!--/col-->

    <div class="clearfix"></div>
  </div><!--/main row-->
</div><!--/main-->



<br>
<br>
<br>
<br>
<br>
<br>

