<div class="container pagecontainer">

  <div class="form-group">
    <label>Photographer Name:</label>
    <input type="text" class="form-control" [(ngModel)]="photographer.name">
  </div>

  <div class="form-group">
    <label>Photographer Country:</label>
    <input type="text" class="form-control" [(ngModel)]="photographer.country">
  </div>

  <div class="form-group">
    <label>Photographer City:</label>
    <input type="text" class="form-control" [(ngModel)]="photographer.city">
  </div>

  <div class="form-group">
    <label>Photographer Contact Number:</label>
    <input type="text" class="form-control" [(ngModel)]="photographer.contactNumber">
  </div>

  <div class="row">
    <div class="col-sm-6">
      <button (click)="onClickUpdatePhotographer()" type="submit" class="btn btn-info">Update</button>
      <button (click)="onClickDeletePhotographer()" type="submit" class="btn btn-danger" disabled>Delete</button>
    </div>
    <div *ngIf="!photographer.isPremium" class="col-sm-6">
      <button data-toggle="modal" data-target="#paymentModal" class="btn btn-success">Become Premium</button>
    </div>
  </div>
</div>


<!--download modal-->
<div id="paymentModal" class="modal fade modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center"><i class="fab fa-stripe fa-7x"></i><br></h2>
      </div>
      <div class="modal-body">
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
          <div class="form-row">
            <label for="card-info">Card Info</label>
            <div id="card-info" #cardInfo></div>

            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>

          <button type="submit">Pay $10</button>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of download modal-->
