<br>
<br>
<br>

<div class="container pagecontainer">


  <div class="row">

    <div *ngFor="let photographer of photographers" class=" col-md-4  separate">
      <div class="card card-inverse card-info">
        <div class="card-block">
          <h4 class="card-title mt-3">{{photographer.name}}</h4>
          <div class="card-text">

          </div>
          <div class="card-footer">
            <button (click)="onClickBrowseAlbums(photographer)" class="btn btn-info float-right btn-sm">Browse Albums</button>
            <button (click)="onClickMessageButton(photographer)" class="btn btn-info float-right btn-sm" data-toggle="modal" data-target="#messageModal">Message</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!--select from table modal-->
<div id="messageModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="selectModalLabel">Message Section</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="messageTitle" class="control-label">Message Title</label>
          <input type="text" class="form-control" id="messageTitle" placeholder="Message Title" [(ngModel)]="message.title">
        </div>
        <div class="form-group">
          <label for="messageDescription" class="control-label">Message Description</label>
          <input type="text" class="form-control" id="messageDescription" placeholder="Message Description" [(ngModel)]="message.description">
        </div>
        <hr>
        <hr>
        <div class="form-group">
          <label for="senderName" class="control-label">Your Nmae</label>
          <input type="text" class="form-control" id="senderName" placeholder="Your Name" [(ngModel)]="message.senderName">
        </div>
        <div class="form-group">
          <label for="senderPhoneNumber" class="control-label">Your Phone Number</label>
          <input type="text" class="form-control" id="senderPhoneNumber" placeholder="Your Phone Number" [(ngModel)]="message.senderPhoneNumber">
        </div>
      </div>

      <div class="modal-footer">
        <button (click)="onClickSendMessage()"  type="button" class="btn btn-success" data-dismiss="modal">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
