<!--main-->
<div class="container pagecontainer" id="main">
  <div class="row">

    <div *ngFor="let photo of photos">

      <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="{{baseUrl + photo.watermarkedPath}}" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">{{photo.displayName}}</p>
          <p>{{photo.views}} views, {{photo.likes}} likes, {{photo.upVote}} upvotes</p>

          <div>
            <button class="btn btn-success" routerLink="/album/{{photo.albumId}}">Check Album</button>
          </div>
        </div>
      </div>

    </div><!--/col-->

    <div class="row">
      <hr>
      <hr>
    </div>


    <div class="clearfix"></div>
  </div><!--/main row-->
</div><!--/main-->
