<br>
<br>
<br>
<br>
<br>
<!--start of album information-->
<div class="col-sm-12">

  <!--start of album name-->
  <div class="form-group">
    <label>Album Name:</label>
    <input type="text" class="form-control" [(ngModel)]="name">
  </div>
  <!--end of album name-->

  <!--start of album description-->
  <div class="form-group">
    <label>Album Description:</label>
    <input type="textarea" class="form-control" [(ngModel)]="description">
  </div>
  <!--start of album description-->

  <!--start of album category-->
  <div class="form-group">
    <label>Album Category:</label>
    <select class="form-control" [(ngModel)]="selectedCategory" (change)="onChange($event)">
      <option *ngFor="let category of categories; let i = index" [ngValue]="category" (click) = "onSelect($event, index);">
        {{ category.title }}
      </option>
    </select>
  </div>
  <!--end of album category-->

  <!--start of album privacy-->
  <div *ngIf="photographer.isPremium" class="form-group">
    Is Private:
    <div class="radio">
      <label><input type="radio" name="optradio" (click)="setAlbumPrivacy(true)">True</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" (click)="setAlbumPrivacy(false)">False</label>
    </div>
  </div>
  <!--start of album privacy-->

  <!--start file upload section-->
  <!--start file upload section-->

</div>

<button class="btn btn-primary btn-block" (click)="onSubmitCreateAlbum()">Create Album</button>
<!--end of album information-->
