<br>
<br>
<br>
<br>
<br>
<!--start of album information-->
<div class="col-sm-12">

  <!--start of album name-->
  <div class="form-group">
    <label>Category Title:</label>
    <input type="text" class="form-control" [(ngModel)]="title">
  </div>
  <!--end of album name-->

  <!--start of album description-->
  <div class="form-group">
    <label>Category Description:</label>
    <input type="textarea" class="form-control" [(ngModel)]="description">
  </div>
  <!--start of album description-->

</div>

<button class="btn btn-primary btn-block" (click)="onSubmitCreateCategory()">Create Category</button>
<!--end of album information-->
