<div class="container pagecontainer">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Sender</th>
      <th>Time</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages" data-toggle="modal" data-target="#messageModal" (click)="onClickTable(message)">
      <td>{{message.title}}</td>
      <td>{{message.senderName}}</td>
      <td>{{message.date}}</td>
      <td *ngIf="message.isRead">Read</td>
      <td *ngIf="!message.isRead">Not Read Yet</td>
    </tr>
    </tbody>
  </table>
</div>


<!--select from table modal-->
<div id="messageModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="selectModalLabel">Message Section</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="messageTitle" class="control-label">Message Title</label>
          <input type="text" class="form-control" id="messageTitle" placeholder="Message Title" [(ngModel)]="selectedMessage.title">
        </div>
        <div class="form-group">
          <label for="messageDescription" class="control-label">Message Description</label>
          <input type="text" class="form-control" id="messageDescription" placeholder="Message Description" [(ngModel)]="selectedMessage.description">
        </div>
        <hr>
        <hr>
        <div class="form-group">
          <label for="senderName" class="control-label">Sender Name</label>
          <input type="text" class="form-control" id="senderName" placeholder="Your Name" [(ngModel)]="selectedMessage.senderName">
        </div>
        <div class="form-group">
          <label for="senderPhoneNumber" class="control-label">Sender Phone Number</label>
          <input type="text" class="form-control" id="senderPhoneNumber" placeholder="Your Phone Number" [(ngModel)]="selectedMessage.senderPhoneNumber">
        </div>
      </div>
    </div>
  </div>
</div>
