<div class="navbar navbar-fixed-top header" id="subnav">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Photo Archiver <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
      <ul *ngIf="userAuthService.isPhotographerLoggedIn()" class="nav dropdown-menu">
        <li ><a routerLink="/home"><i class="glyphicon glyphicon-home" style="color:#1111dd;"></i> Home</a></li>
        <li><a (click)="onClickPhotographerProfile()"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
        <li><a routerLink="/buy-list"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Buy List</a></li>
        <li><a routerLink="/album"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Albums</a></li>
        <li class="nav-divider"></li>
        <li><a routerLink="/albumCreate"><i class="glyphicon glyphicon-plus"></i> Album</a></li>
        <li><a routerLink="/logout"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Logout</a></li>
      </ul>
      <ul *ngIf="!userAuthService.isPhotographerLoggedIn()" class="nav dropdown-menu">
        <li ><a routerLink="/home"><i class="glyphicon glyphicon-home" style="color:#1111dd;"></i> Home</a></li>
        <li><a routerLink="/photographerProfile-register" role="button" >Registration</a></li>
        <li><a routerLink="/photographerProfile-login" role="button" >Login</a></li>
      </ul>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse2">

      <!--If user is Logged In-->
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="userAuthService.isPhotographerLoggedIn()">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/message"><span class="badge pull-right">40</span>Messages</a></li>
            </ul>
          </li>
          <li><a href="#searchModal" data-toggle="modal"><i class="glyphicon glyphicon-search"></i></a></li>
          <li *ngIf="userAuthService.isPhotographerLoggedIn()"><a routerLink="/photographerProfile-dashboard"><i class="glyphicon glyphicon-user"></i></a></li>
          <li *ngIf="userAuthService.isPhotographerLoggedIn()"><a routerLink="/cart"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
        </ul>
      </div>

      <!--if user is not Logged In-->
      <div *ngIf="!userAuthService.isPhotographerLoggedIn()">
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>

    </div>
  </div>
</div>


<!--start search-item modal-->
<div id="searchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

        <!--photo search start-->
        <div class="form-group">
          <label>Photo Search:</label>
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="photoSearchKeyword">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="onClickPhotoSearch()"  data-dismiss="modal">Search</button>
            </div>
          </div>
        </div>
        <hr>
        <!--photo search end-->

        <!--album search start-->
        <div class="form-group">
          <label>Album Search:</label>
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="albumSearchKeyword">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="onClickAlbumSearch()"  data-dismiss="modal">Search</button>
            </div>
          </div>
        </div>
        <hr>
        <!--album search end-->

        <!--photographer search start-->
        <div class="form-group">
          <label>Photographer Search:</label>
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="photographerSearchKeyword">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="onClickPhotographerSearch()"  data-dismiss="modal">Search</button>
            </div>
          </div>
        </div>
        <hr>
        <!--photographer search end-->

        <!--recruiter search start-->
        <div class="form-group">
          <label>Recruiter Search:</label>
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="recruiterSearchKeyword">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="onClickRecruiterSearch()"  data-dismiss="modal">Search</button>
            </div>
          </div>
        </div>
        <hr>
        <!--recruiter search end-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!--end search-item modal-->
