<!--main-->
<div class="container" id="main">
  <div class="row">

    <div *ngFor="let photo of photos; let i = index;" class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="{{baseUrl + photo.watermarkedPath}}" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">{{photo.displayName}}</p>
          <p>{{photo.views}} views, {{photo.likes}} likes, {{photo.upVote}} Upvote</p>
          <div>
            <button (click)="onClickRemovePhoto(photo)" data-toggle="tooltip" title="Remove from cart." class="btn-primary" height="28px" width="28px"><i class="fas fa-trash-alt"></i></button>
            <button (click)="onClickDownloadPhoto(photo)" data-toggle="tooltip" title="Download" class="btn-success" height="28px" width="28px"><a href="#downloadModal" role="button" data-toggle="modal"><i class="fas fa-download"></i></a></button>
          </div>
        </div>
      </div>

    </div><!--/col-->

    <div class="clearfix"></div>
  </div><!--/main row-->
</div><!--/main-->

<!--download modal-->
<div id="downloadModal" class="modal fade modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center"><i class="fab fa-stripe fa-7x"></i><br></h2>
      </div>
      <div class="modal-body">
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
          <div class="form-row">
            <label for="card-info">Card Info</label>
            <div id="card-info" #cardInfo></div>

            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>

          <button type="submit">Pay $10</button>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of download modal-->

<br>
<br>
<br>
<br>
<br>
<br>

