<div class="container pagecontainer">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Album Name</th>
      <th>Views</th>
      <th>Photos</th>
      <th>Category</th>
      <th>Privacy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let albumInfo of albumsInfo" data-toggle="modal" data-target="#selectModal" (click)="onClickTable(albumInfo)">
      <td>{{albumInfo.album.name}}</td>
      <td>{{albumInfo.album.views}}</td>
      <td>{{albumInfo.photos.length}}</td>
      <td>{{albumInfo.albumCategory.title}}</td>
      <td *ngIf="albumInfo.album.isPrivate">Private</td>
      <td *ngIf="!albumInfo.album.isPrivate">Public</td>
    </tr>
    </tbody>
  </table>
</div>

<!--select from table modal-->
<div id="selectModal" class="modal fade" role="dialog" *ngIf="isAlbumSelected">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="selectModalLabel">Album Information</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="fullName" class="control-label">Album Name</label>
          <input type="text" class="form-control" id="fullName" placeholder="" [(ngModel)]="selectedAlbumInfo.album.name">
        </div>
        <div class="form-group">
          <label for="nickname" class="control-label">Album Description</label>
          <input type="text" class="form-control" id="nickName" placeholder="" [(ngModel)]="selectedAlbumInfo.album.description">
        </div>
        <!--start of album privacy-->
        <div *ngIf="photographer.isPremium" class="form-group">
          Is Private:
          <div class="radio">
            <label><input type="radio" name="optradio" (click)="setAlbumPrivacy(true)">True</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" (click)="setAlbumPrivacy(false)">False</label>
          </div>
        </div>
        <!--start of album privacy-->

        <!--start of album category-->
        <div class="form-group">
          <label>Album Category:</label>
          <select class="form-control" [(ngModel)]="selectedCategory" (change)="onChange($event)">
            <option *ngFor="let category of categories; let i = index" [ngValue]="category" (click) = "onSelect($event, index);">
              {{ category.title }}
            </option>
          </select>
        </div>
        <!--end of album category-->

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="browsePhotos()" >Browse Photos</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addPhotos()" >Add Photos</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateAlbum()" >Update</button>
        <button type="button" class="btn btn-danger disabled" >Delete</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
